
<!DOCTYPE html>
<html lang="en">
<html lang="en" ng-app="myApp" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bytehub Dashboard - Index</title>
    <!-- Bootstrap core CSS-->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
    <!-- Custom fonts for this template-->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/Styles/font-awesome.min.css}">
    <!-- Page level plugin CSS-->
    <link href="../static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" th:href="@{/vendor/datatables/dataTables.bootstrap4.css}">
    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin.css" rel="stylesheet" th:href="@{/css/sb-admin.css}">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="dasboard">ByteHub</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="dashboard">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link" href="searchview">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Serarch view</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link" href="tabbedView">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Tabbed View</span>
                </a>
            </li>

        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">


            </li>
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0 mr-lg-2">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search for...">
                        <span class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
                    </div>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Bytehub</li>
        </ol>

        <!-- Area Chart Example-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-area-chart"></i> Live Messages</div>
            <div class="card-body">
                <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated Hourly</div>
        </div>


    </div>


</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->
<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright © Rootcore.io</small>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- Page level plugin JavaScript-->
<script src="../static/vendor/chart.js/Chart.min.js" th:src="@{/vendor/chart.js/Chart.min.js}"></script>
<script src="../static/vendor/datatables/jquery.dataTables.js" th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
<script src="../static/vendor/datatables/dataTables.bootstrap4.js" th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>
<!-- Custom scripts for all pages-->
<script src="../static/js/sb-admin.min.js" th:src="@{/js/sb-admin.min.js}"></script>
<!-- Custom scripts for this page-->
<script src="../static/js/sb-admin-datatables.min.js" th:src="@{/js/sb-admin-datatables.min.js}"></script>
<script src="../stati/js/sb-admin-charts.min.js" th:src="@{/js/sb-admin-charts.min.js}"></script>








</div>
</body>

</html>


































<!--<!doctype html>-->


<!--<html lang="en" ng-app="myApp" xmlns:th="http://www.springframework.org/schema/data/jaxb">-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
<!--<meta charset="utf-8">-->
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

<!--<head>-->
    <!--<link href="../static/dashboard/bootstrap/css/bootstrap.min.css" rel="stylesheet" th:href="@{/dashboard/bootstrap/css/bootstrap.min.css}" />-->
    <!--<script src="../static/dashboard/bootstrap/js/bootstrap.js" th:src="@{/dashboard/js/bootstrap.js}"></script>-->
    <!--<script src="../static/dashboard/Script/angular.min.js" th:src="@{/dashboard/Script/angular.min.js}"></script>-->
    <!--<script src="../static/dashboard/Script/jquery-1.10.2.min.js" th:src="@{/dashboard/Script/jquery-1.10.2.min.js}" ></script>-->
    <!--<link href="../static/dashboard/Styles/font-awesome.min.css" rel="stylesheet" th:href="@{/dashboard/Styles/font-awesome.min.css}">-->
    <!--&lt;!&ndash; NProgress &ndash;&gt;-->
    <!--<link href="../static/dashboard/Styles/nprogress.css" rel="stylesheet" th:href="@{/dashboard/Styles/nprogress.css}">-->
    <!--&lt;!&ndash; iCheck &ndash;&gt;-->
    <!--<link href="../static/dashboard/Styles/green.css" rel="stylesheet" th:href="@{/dashboard/Styles/green.css}">-->
    <!--&lt;!&ndash; bootstrap-progressbar &ndash;&gt;-->
    <!--<link href="../static/dashboard/Styles/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" th:href="@{/dashboard/Styles/bootstrap-progressbar-3.3.4.min.css}">-->
    <!--&lt;!&ndash; JQVMap &ndash;&gt;-->
    <!--<link href="../static/dashboard/Styles/jqvmap.min.css" rel="stylesheet" th:href="@{/dashboard/Styles/jqvmap.min.css}" />-->

    <!--&lt;!&ndash; Custom Theme Style &ndash;&gt;-->
    <!--<link href="../static/dashboard/Styles/custom.min.css" rel="stylesheet" th:href="@{/dashboard/Styles/custom.min.css}">-->
    <!--<script src="../static/dashboard/Script/graphs.js"  th:src="@{/dashboard/Script/graphs.js}"></script>-->
    <!--<script src="../static/dashboard/Script/angular-fusioncharts.min.js"  th:src="@{/dashboard/Script/angular-fusioncharts.min.js}"></script>-->

<!--</head>-->
<!--<title>The Dashboard</title>-->

<!--<body class="nav-md">-->
<!--<div class="container body">-->
    <!--<div class="main_container">-->
        <!--<div class="col-md-3 left_col">-->
            <!--<div class="left_col scroll-view">-->
                <!--<div class="navbar nav_title" style="border: 0;">-->
                    <!--<a href="dashboard" class="site_title"><i class="fa fa-paw"></i> <span>BYTEHUB</span></a>-->
                <!--</div>-->

                <!--<div class="clearfix"></div>-->

                <!--&lt;!&ndash; menu profile quick info &ndash;&gt;-->
                <!--<div class="profile">-->
                    <!--<div class="profile_pic">-->
                        <!--<img src="../static/dashboard/Images/Like.png" alt="..." class="img-circle profile_img" th:src="@{/dashboard/Images/Like.png}">-->
                    <!--</div>-->
                    <!--<div class="profile_info">-->
                        <!--<span>Welcome,</span>-->
                        <!--<h2>Loggedin User</h2>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /menu profile quick info &ndash;&gt;-->

                <!--<br />-->

                <!--&lt;!&ndash; sidebar menu &ndash;&gt;-->
                <!--<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">-->
                    <!--<div class="menu_section">-->

                        <!--<ul class="nav side-menu">-->
                            <!--<li><a href="dashboard"><i class="fa fa-home"></i> Dashboard <span class="fa fa-chevron-down"></span></a>-->
                            <!--<li><a href="searchview"><i class="fa fa-home"></i> Search<span class="fa fa-chevron-down"></span></a>-->
                            <!--<li><a href="tabbedview"><i class="fa fa-home"></i>Tabbed View<span class="fa fa-chevron-down"></span></a>-->
                        <!--</li>-->
                        <!--</ul>-->

                    <!--</div>-->

                <!--</div>-->
                <!--&lt;!&ndash; /sidebar menu &ndash;&gt;-->

                <!--&lt;!&ndash; /menu footer buttons &ndash;&gt;-->
                <!--<div class="sidebar-footer hidden-small">-->

                    <!--<a href="/" data-toggle="tooltip" data-placement="top" title="Logout">-->
                        <!--<span class="glyphicon glyphicon-off" aria-hidden="true"></span>-->
                    <!--</a>-->
                <!--</div>-->
                <!--&lt;!&ndash; /menu footer buttons &ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; top navigation &ndash;&gt;-->
        <!--<div class="top_nav">-->
            <!--<div class="nav_menu">-->
                <!--<nav>-->
                    <!--<div class="nav toggle">-->
                        <!--<a id="menu_toggle"><i class="fa fa-bars"></i></a>-->
                    <!--</div>-->

                    <!--<ul class="nav navbar-nav navbar-right">-->

                        <!--<li><a href="/"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>-->

                    <!--</ul>-->
                <!--</nav>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /top navigation &ndash;&gt;-->

        <!--&lt;!&ndash; page content &ndash;&gt;-->
        <!--<div class="right_col" role="main">-->


            <!--<div class="row">-->
                <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                    <!--<div class="dashboard_graph">-->

                        <!--<div class="row x_title">-->
                            <!--<div class="col-md-6">-->
                                <!--<h3>Live Messages</h3>-->
                            <!--</div>-->
                            <!--<div class="col-md-6">-->
                                <!--<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">-->
                                    <!--<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-md-9 col-sm-9 col-xs-12">-->
                            <!--<div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>-->
                            <!--<div style="width: 100%;">-->

                                <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" th:src="@{http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js}"></script>-->
                                <!--<script src="../static/dashboard/Script/angular.min.js" th:src="@{/dashboard/Script/angular.min.js}"></script>-->
                                <!--<script src="../static/dashboard/Script/zingchart-angularjs.js" th:src="@{/dashboard/Script/zingchart-angularjs.js}"></script>-->
                                <!--<script src="../static/dashboard/Script/zingchart.min.js" th:src="@{/dashboard/Script/zingchart.min.js}"></script>-->
                                <!--<div ng-controller="MainController">-->
                                    <!--<zingchart id="chart1" zc-values="myData"></zingchart>-->
                                <!--</div>-->

                                <!--<script>-->
                                    <!--var app=angular.module('myApp',['zingchart-angularjs']);-->
                                    <!--app.controller('MainController',function($scope,$interval){-->
                                        <!--$scope.myData=[1,4,4,9,5,1,4,4,5,5]-->

                                    <!--});-->

                                <!--</script>-->

                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
            <!--<br />-->
        <!--</div>-->
        <!--<footer>-->
            <!--<div class="pull-right">-->
                <!--Bytehub by ROOTCORE-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
        <!--</footer>-->
        <!--&lt;!&ndash; /footer content &ndash;&gt;-->
    <!--</div>-->
<!--</div>-->
<!--</bodY>-->
<!--</html>-->